<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ardid App!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bootstrap-3.3.2-dist/css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('css/general.css') }}" rel="stylesheet" />
            <link href="{{ asset('css/menu.css') }}" rel="stylesheet" />            
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
            <script src="{{ asset('js/jquery-ui.js') }}"></script>
            <script src="{{ asset('bootstrap-3.3.2-dist/js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/general.js') }}"></script>
            <script src="{{ asset('js/validacion.js') }}"></script>            
        {% endblock %}        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}  
            <div class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('inicio') }}">Ardid App</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas <b class="caret"></b></a>
                                <ul class="dropdown-menu">                        
                                    <li class="dropdown-submenu"> 
                                        <a tabindex="-1" href="#">General</a>
                                    <li><a href="{{ path('consulta_pago') }}">Pagos</a></li>
                            </li>
                        </ul>
                        </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"> {{ app.user.username|lower }} <span class="badge">0</span><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('inicio') }}">Tareas</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('logout') }}">Salir</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>          
            {% block content %}

            {% endblock %}             
        {% endblock %}        
    </body>
</html>
