{% extends '::base2.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Administracion
            <small>Contenido: Lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-calendar"></i> Administracion</a></li>
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-calendar"></i> Contenido</a></li>
            <li class="active">Lista</li>
        </ol>
    </section> 

    <section class="content">
        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
        {{ form_errors(form) }}
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Titulo</th>
                                    <th>Contenido</th>
                                    <th>Cod. Formato iso</th>
                                    <th>Version</th>
                                    <th>Tipo</th>
                                    <th>Fecha version</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for arContenido in arContenido %}
                                    <tr>
                                        <td>{{arContenido.codigoContenidoPk}}</td>
                                        <td>{{arContenido.titulo}}</td>
                                        <td>{{arContenido.contenido}}</td>
                                        <td>{{arContenido.codigoFormatoIso}}</td>
                                        <td>{{arContenido.version}}</td>
                                        <td>{{arContenido.codigoContenidosTipoRel.nombre}}</td>
                                        <td>{{arContenido.fechaVersion | date('Y/m/d')}}</td>
                                        <td style="text-align: center"><a href="{{ path('contenido_editar', {'codigoContenido': arContenido.codigoContenidoPk })}}"><img src="{{ asset('imagenes/bootstrap/glyphicons_151_edit.png') }}" width=20 height=20 title="Editar"></a></td>
                                    </tr>
                                {% endfor %}                    
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>   
            <!-- /.col -->
        </div> 
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>
{% endblock %}
