

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>ArdidApp</title>
        {% block stylesheets %}   
            <link href="{{ asset('login/bootstrap/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />                        
        {% endblock %}

        <link href="{{ asset('login/css/styles.css') }}" type="text/css" rel="stylesheet" /> 
    </head>
    <body> 
        <!-- Top content -->
        <div class="container">
            <div class="card card-container">
                <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
                <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" action="{{ path('login') }}" method="post">
                    <span id="reauth-email" class="reauth-email"></span>
                    <input class="form-control" name="_username" type="text" id="inputEmail"  placeholder="Usuario..." required autofocus>
                    <input name="_password" type="password" id="inputPassword" class="form-control" placeholder="Clave..." required>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form><!-- /form -->
                <a href="{{ path('registro') }}" class="forgot-password"/>
                   REGISTRESE 
                </a> 
                <br>
                <a href="#" class="forgot-password"/>
                  REESTABLECER CONTRASEÑA
                </a>
            </div><!-- /card-container -->
        </div><!-- /container -->
        <!-- Javascript -->
        <script src="{{ asset('login/js/login.js') }}"></script>
        <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
        <![endif]-->
    </body>

</html>    



