{% extends '::base2.html.twig' %}
{% block content %}
    <section class="content-header">
        <h1>
            Utilidades
            <small>Reclamo: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-calendar"></i> Utilidades</a></li>
            <li><a href="/ardid/web/app_dev.php/"><i class="fa fa-calendar"></i> Reclamos</a></li>   
            <li class="active">detalle</li>
        </ol>
    </section>  

    <section class="content">        	
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'} }) }}
        {{ form_errors(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Información</div>
            <div class="panel-body">
                <table width="100%" class="table table-condensed table-bordered">
                    <tbody><tr>
                            <td class="titulo">ID:</td>
                            <td class="td-in-well">{{arReclamo.codigoReclamoPk}}</td>
                        </tr>
                        <tr>
                            <td class="titulo">EMPRESA:</td>
                            <td class="td-in-well">{{arReclamo.empresaRel.nombre}}</td>
                        </tr> 
                        <tr>
                            <td class="titulo">TIPO:</td>
                            <td class="td-in-well">{{arReclamo.reclamoTipoRel.nombre}}</td>
                        </tr>                     
                        <tr>
                            <td class="titulo">FECHA:</td>
                            <td class="td-in-well">{{arReclamo.fechaSolicitud | date('Y/m/d')}}</td>
                        </tr>                  


                        <tr>
                            <td class="titulo">MOTIVO:</td>
                            <td class="td-in-well">{{arReclamo.motivo}}</td>
                        </tr>                
                        <tr>
                            <td class="titulo">DESCRIPCION:</td>
                            <td class="td-in-well">{{arReclamo.descripcion}}</td>
                        </tr> 
                    </tbody></table>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Respuestas</div>
            <table id="example2" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Respuesta</th>
                    </tr>
                </thead>
                {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
                {{ form_errors(form) }}
                <tbody>
                    {% for arDetalleReclamo in arDetalleReclamo %}
                        <tr>
                            <td>{{arDetalleReclamo.fecha| date('Y/m/d')}}</td>
                            <td>{{arDetalleReclamo.solucion}}</td>
                        </tr>
                    {% endfor %}                    
                </tbody>
            </table>
        </div>
      
        <a class="btn btn-default btn-sm" href="{{ path('utilidad_reclamo')}}">Volver</a>
        {{ form_end(form) }}
        <br/><br/><br/><br/>
    </section>
{% endblock %}
