{% extends '::base2.html.twig' %}
{% block title %}Ardid app{% endblock %}
{% block content %}
       <section class="content-header">
        <h1>
            Consultas
            <small>Certificado laboral: lista</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> Consultas</a></li>
            <li><a href="#"><i class="fa fa-bars"></i> Certificado laboral</a></li>
            <li class="active">Lista</li>
        </ol>
    </section>
       <section class="content">  
    <link rel="stylesheet" href="{{ asset('recursos/plugins/datatables/dataTables.bootstrap.css') }}">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Empresa</th>
                                <th>Numero</th>
                                <th>Identificacion</th>
                                <th>nombre</th>
                                <th>Desde</th>
                                <th>Hasta</th>
                                <th>Cargo</th>
                                <th>Grupo pago</th>
                                <th style="text-align: right">Salario</th>
                                <th>Tipo de contrato</th>
                                <th>Vigente</th>
                                <th></th>
                            </tr>
                        </thead>
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
                          {{ form_errors(form) }}
                        <tbody>
                            {% for arContratos in arContratos %}
                                <tr>
                                    <th scope="row">{{arContratos.codigoContratoPk}}</th> 
                                    <td>{{arContratos.empresaRel.abreviatura}}</td>
                                    <td>{{arContratos.numero}}</td>
                                    <td>{{arContratos.empleadoRel.identificacionNumero}}</td>
                                    <td>{{arContratos.empleadoRel.nombreCorto}}</td>
                                    <td>{{arContratos.fechaDesde|date('Y-m-d')}}</td>
                                    <td>{{arContratos.fechaHasta|date('Y-m-d')}}</td>   
                                    <td>{{arContratos.cargo}}</td>
                                    <td>{{arContratos.grupoPago}}</td>
                                    <td>{{arContratos.vrSalario | number_format(0, '.', ',') }}</td>
                                    <td>{{arContratos.tipo}}</td>
                                    <td>{%if arContratos.vigente == 0 %}  No {%else%}  Si  {% endif %}</td> 
                                    <td><button class="btn btn-default btn-xs" type="submit" name="opImprimir" value="{{ arContratos.codigoContratoPk }}"><b>Imprimir</b></button>     </td>
                                    </tr>
                            {% endfor %}                         
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>   
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </section>  
{% endblock %}

