{% extends '::base.html.twig' %}
{% block title %}Pagos lista{% endblock %} 
{% block content %}

<div class="container">
  <h2>Lista de pagos</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
          <th>#</th>
          <th>Empresa</th>
          <th>Empleado</th>
          <th>numero</th>
          <th>Vr devengado</th>
      </tr>
    </thead>
    <tbody>
        
    {% for arPagos in arPagos %}
     <tr>
         <th scope="row">{{arPagos.codigoPagoPk}}</th> 
         <td>{{arPagos.empresaRel.nombre}}</td>
         <td>{{arPagos.codigoEmpleadofk}}</td>
         <td>{{arPagos.numero}}</td>
         <td>{{arPagos.vrDevengado}}</td>
     </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

</body>
</html>

{% endblock %}