{% extends '::base2.html.twig' %}
{% block title %}Pagos lista{% endblock %} 
{% block content %}
   
      <section class="content-header">
        <h1>
            Consultas
            <small>Pago Detalle: detalle</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Inicio</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> Consultas</a></li>
            <li><a href="#"><i class="fa fa-bars"></i> Pago</a></li>
            <li class="active">Detalle</li>
        </ol>
    </section>
    <link rel="stylesheet" href="{{ asset('recursos/plugins/datatables/dataTables.bootstrap.css') }}">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Detalle: Pago</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>CONCEPTO DE PAGO</th>
                                <th style="text-align: right">HORAS</th>
                                <th style="text-align: right">DIAS</th>
                                <th style="text-align: right">VR.HORA</th>
                                <th style="text-align: right">PORCENTAJE</th>
                                <th style="text-align: right">DEVENGADO</th>
                                <th style="text-align: right">DEDUCCION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for arPagoDetalles in arPagoDetalles %}
                                <tr>
                                    <th scope="row">{{arPagoDetalles.codigoPagoDetallePk}}</th> 
                                    <td>{{arPagoDetalles.nombreConcepto}}</td> 
                                    <td style="text-align: right">{{arPagoDetalles.horas}}</td>
                                    <td style="text-align: right">{{arPagoDetalles.dias}}</td>
                                    <td style="text-align: right">{{ arPagoDetalles.vrHora | number_format(0, '.', ',') }}</td>
                                    <td style="text-align: right">{{arPagoDetalles.porcentaje}}</td>
                                    {% if arPagoDetalles.operacion == 1 %}
                                        <td style="text-align: right">{{ arPagoDetalles.vrPago | number_format(0, '.', ',') }}</td> 
                                        <td style="text-align: right">0</td>
                                    {% endif %}
                                    {% if arPagoDetalles.operacion == -1 %}
                                        <td style="text-align: right">0</td>
                                        <td style="text-align: right">{{ arPagoDetalles.vrPago | number_format(0, '.', ',') }}</td>                                        
                                    {% endif %}
                                    {% if arPagoDetalles.operacion == 0 %}
                                        <td style="text-align: right">0</td>
                                        <td style="text-align: right">0</td>                                         
                                    {% endif %}                                    
                                </tr>
                            {% endfor %}                           
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>    
    {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'novalidate': 'novalidate'} }) }}
    {{ form_errors(form) }}    
    <div>
        <a  class="btn btn-default btn-sm" href="{{ path('consulta_pago') }}">Volver</a>            
        <div class="btn-toolbar" style="float:right">
            <div class="btn-group">
                {{ form_widget(form.BtnImprimir, { 'attr': {'class': 'btn btn-success btn-sm'} }) }} 
            </div>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}
